{% extends 'base.html.twig' %}

{% block title %}NOS BIENS!{% endblock %}
{% block stylesheets %}
    {# {{ parent() }}
    {{ encore_entry_script_tags('app_home_page') }} #}
    {# Importation de boostrap #}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    {# Importation de swipper #}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    <link rel="stylesheet" href="{{ asset('build/app_home_page.css') }}">
    <link rel="stylesheet" href="{{ asset('build/app_aboutus_page.css') }}">
    <link rel="stylesheet" href="{{ asset('build/app_biens_page.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
{% endblock %}

{% block body %}
    {% block main %}
        <div class="tite-detailBien">
            <div class="content-detailBien">
                <h4>APPARTEMENT {{ id }} PIECES A LIKOUF</h4>
                <p>
                    <span class="material-symbols-outlined">ios_share</span>
                    <a href="#">
                        Partager
                    </a>
                </p>
            </div>
        </div>

        <section class="container-images">
            <div class="images" >
                <div class="yt-video">
                    <iframe
                            width="100%"
                            src="https://www.youtube.com/embed/GUPP7dp3JQs?si=jmMYjo0YTYRM6Nih"
                            frameborder="0"
                            allowfullscreen
                    >
                    </iframe>
                </div>
                <div class="image1">
                    <img src="{{ asset("images/homePage/propriete1.jpg") }}" alt="..." />
                </div>
                <div class="image2">
                    <img src="{{ asset("images/homePage/propriete2.jpg") }}" alt="..." />
                </div>
                <div class="image3">
                    <img src="{{ asset("images/homePage/propriete3.jpg") }}" alt="..." />
                </div>
                <div class="image4">
                    <img src="{{ asset("images/homePage/propriete4.jpg") }}" alt="..." />

                </div>
            </div>
        </section>
        <section class="description-biens">
            <dev class="des-container-left">
                 <div class="des-left-1">
                     <h5>APPARTEMENT {{ id }} PIECES A LIKOUF</h5>
                     <div class="paragraphe-des-left-1">
                         <h6>Description de la propriété</h6>
                         Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                         Commodi velit error ullam et, inventore consequatur nam
                         voluptatem soluta, accusantium expedita facilis exercitationem.
                         Cumque soluta quis minus iure consectetur odit voluptatem vitae temporibus,
                         inventore ipsum quia facilis. Saepe ducimus asperiores aspernatur ut aliquam rerum culpa,
                         iste ex, magnam velit fuga ipsum quisquam! Maxime explicabo omnis asperiores! Nisi soluta unde,
                         molestias quasi quae ex repellendus incidunt minima, ab ipsam iusto consectetur cum impedit anim
                     </div>
                 </div>
                 <div class="des-left-2">
                     <h5>Ce que propose ce logement</h5>
                     <div class="container-icons">
                         <div class="row-containaire-icons">
                             <div class="chambre">
                                 <img src="{{ asset('images/icons/lit.png') }}" alt="Chambre">
                                 <p>Chambres</p>
                                 <p class="nombre">4</p>
                             </div>
                             <div class="chambre">
                                 <img src="{{ asset('images/icons/baignoire.png') }}" alt="Chambre">
                                 <p>SdB</p>
                                 <p class="nombre">2</p>
                             </div>
                             <div class="chambre">
                                 <img src="{{ asset('images/icons/etage.png') }}" alt="Chambre">
                                 <p>Etages</p>
                                 <p class="nombre">3</p>
                             </div>
                             <div class="chambre">
                                 <img src="{{ asset('images/icons/surface.png') }}" alt="Chambre">
                                 <p>m²</p>
                                 <p class="nombre">1234</p>
                             </div>
                         </div>
                         <div class="row-containaire-icons">
                             <div class="chambre">
                                 <img src="{{ asset('images/icons/lit.png') }}" alt="Chambre">
                                 <p>Chambres</p>
                                 <p class="nombre">4</p>
                             </div>
                             <div class="chambre">
                                 <img src="{{ asset('images/icons/baignoire.png') }}" alt="Chambre">
                                 <p>SdB</p>
                                 <p class="nombre">2</p>
                             </div>
                             <div class="chambre">
                                 <img src="{{ asset('images/icons/etage.png') }}" alt="Chambre">
                                 <p>Etages</p>
                                 <p class="nombre">3</p>
                             </div>
                             <div class="chambre">
                                 <img src="{{ asset('images/icons/surface.png') }}" alt="Chambre">
                                 <p>m²</p>
                                 <p class="nombre">1234</p>
                             </div>
                         </div>
                     </div>
                 </div>
            </dev>
            <dev class="container-right">
                <h5>35£ par nuit</h5>
                <p class="container-right-red">Ce logement est occupé jusqu'au 12/04/2024</p>
                <div class="tableau-biens">
                    <div class="tab-item1">
                        <h6>ARRIVEE</h6>
                        <p>10/02/2024</p>
                    </div>
                    <div class="tab-item2">
                        <h6>NBRE DE JOURS</h6>
                        <p>2</p>
                    </div>
                    <div class="tab-item3">
                        <div class="tab-item3-left">
                            <h6>NOMBRE DE PERSONNES</h6>
                            <p>2 voyageurs</p>
                        </div>
                        <div class="tab-item3-right">
                           <a href="#"><img src="{{ asset('images/icons/add_circle.png') }}" alt="..." /></a>
                        </div>
                    </div>
                    <div class="tab-item4">
                        <h6>NOM & PRENOM</h6>
                        <p>Jean Bruno</p>
                    </div>
                    <div class="tab-item5">
                        <h6>PAYS/REGION</h6>
                        <p>FRANCE (+33)</p>
                    </div>
                    <div class="tab-item6">
                        <h6>TELEPHONE</h6>
                        <p>00 00 00 00 00</p>
                    </div>
                </div>
                <div class="btn-reserver"><a href="#">RESERVER</a></div>
                <p>Aucun montant ne vous sera débité pour le moment</p>
                <div class="container-right-details">
                    <div class="details-information">
                        <p><span>35€ x 2 nuits</span></p>
                        <p><span>Frais de ménage</span></p>
                    </div>
                    <div class="details-sommes">
                        <p>70 € </p>
                        <p>12 €</p>
                    </div>
                </div>
                <hr>
                <div class="total">
                    <p class="total">Total</p>
                    <p class="prix">96 €</p>
                </div>
            </dev>
        </section>

        <section class="class-propriete">
            <h6>Voir d'autres propriétés</h6>
            <div class="container-propriete">
                    <div class="row">
                        <div class="card-propriete">
                            <div class="card-head">
                                <img src="{{ asset('images/homePage/propriete1.jpg') }}" alt="image de la premiere propriete"/>
                                <span class="status">ACHAT</span>
                            </div>
                            <div class="card-body">
                                <h3 class="card-ruelle">47 rue des Couronnes</h3>
                                <p class="card-description">Paris, France</p>
                                <p>850 000 €</p>
                                <hr/>
                                <div class="container-icons">
                                    <div class="chambre">
                                        <img src="{{ asset('images/icons/lit.png') }}" alt="Chambre">
                                        <p>Chambres</p>
                                        <p class="nombre">4</p>
                                    </div>
                                    <div class="chambre">
                                        <img src="{{ asset('images/icons/baignoire.png') }}" alt="Chambre">
                                        <p>SdB</p>
                                        <p class="nombre">2</p>
                                    </div>
                                    <div class="chambre">
                                        <img src="{{ asset('images/icons/etage.png') }}" alt="Chambre">
                                        <p>Etages</p>
                                        <p class="nombre">3</p>
                                    </div>
                                    <div class="chambre">
                                        <img src="{{ asset('images/icons/surface.png') }}" alt="Chambre">
                                        <p>m²</p>
                                        <p class="nombre">1234</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="card-propriete">
                            <div class="card-head">
                                <img src="{{ asset('images/homePage/propriete2.jpg') }}" alt="image de la premiere propriete"/>
                                <span class="status">ACHAT</span>
                            </div>
                            <div class="card-body">
                                <h3 class="card-ruelle">47 rue des Couronnes</h3>
                                <p class="card-description">Paris, France</p>
                                <p>850 000 €</p>
                                <hr/>
                                <div class="container-icons">
                                    <div class="chambre">
                                        <img src="{{ asset('images/icons/lit.png') }}" alt="Chambre">
                                        <p>Chambres</p>
                                        <p class="nombre">4</p>
                                    </div>
                                    <div class="chambre">
                                        <img src="{{ asset('images/icons/baignoire.png') }}" alt="Chambre">
                                        <p>SdB</p>
                                        <p class="nombre">2</p>
                                    </div>
                                    <div class="chambre">
                                        <img src="{{ asset('images/icons/etage.png') }}" alt="Chambre">
                                        <p>Etages</p>
                                        <p class="nombre">3</p>
                                    </div>
                                    <div class="chambre">
                                        <img src="{{ asset('images/icons/surface.png') }}" alt="Chambre">
                                        <p>m²</p>
                                        <p class="nombre">1234</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="card-propriete">
                            <div class="card-head">
                                <img src="{{ asset('images/homePage/propriete3.jpg') }}" alt="image de la premiere propriete"/>
                                <span class="status">ACHAT</span>
                            </div>
                            <div class="card-body">
                                <h3 class="card-ruelle">47 rue des Couronnes</h3>
                                <p class="card-description">Paris, France</p>
                                <p>850 000 €</p>
                                <hr/>
                                <div class="container-icons">
                                    <div class="chambre">
                                        <img src="{{ asset('images/icons/lit.png') }}" alt="Chambre">
                                        <p>Chambres</p>
                                        <p class="nombre">4</p>
                                    </div>
                                    <div class="chambre">
                                        <img src="{{ asset('images/icons/baignoire.png') }}" alt="Chambre">
                                        <p>SdB</p>
                                        <p class="nombre">2</p>
                                    </div>
                                    <div class="chambre">
                                        <img src="{{ asset('images/icons/etage.png') }}" alt="Chambre">
                                        <p>Etages</p>
                                        <p class="nombre">3</p>
                                    </div>
                                    <div class="chambre">
                                        <img src="{{ asset('images/icons/surface.png') }}" alt="Chambre">
                                        <p>m²</p>
                                        <p class="nombre">1234</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="card-propriete">
                            <div class="card-head">
                                <img src="{{ asset('images/homePage/propriete4.jpg') }}" alt="image de la premiere propriete"/>
                                <span class="status">ACHAT</span>
                            </div>
                            <div class="card-body">
                                <h3 class="card-ruelle">47 rue des Couronnes</h3>
                                <p class="card-description">Paris, France</p>
                                <p>850 000 €</p>
                                <hr/>
                                <div class="container-icons">
                                    <div class="chambre">
                                        <img src="{{ asset('images/icons/lit.png') }}" alt="Chambre">
                                        <p>Chambres</p>
                                        <p class="nombre">4</p>
                                    </div>
                                    <div class="chambre">
                                        <img src="{{ asset('images/icons/baignoire.png') }}" alt="Chambre">
                                        <p>SdB</p>
                                        <p class="nombre">2</p>
                                    </div>
                                    <div class="chambre">
                                        <img src="{{ asset('images/icons/etage.png') }}" alt="Chambre">
                                        <p>Etages</p>
                                        <p class="nombre">3</p>
                                    </div>
                                    <div class="chambre">
                                        <img src="{{ asset('images/icons/surface.png') }}" alt="Chambre">
                                        <p>m²</p>
                                        <p class="nombre">1234</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
            </div>

        </section>
    {% endblock %}
{% endblock %}